.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 75px;
  width: calc(100% - 192px);
  top: 0;
  padding: 0 96px;

  background-color: #000;
  z-index: 1;
  
  .brand-name {
    color: $color-primary;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .MuiInputBase-root {
    height: 36px;
    width: 420px;
    max-width: 100%;
    color: $color-primary;
  }

  .MuiInputLabel-outlined {
    transform: translate(14px, 12px) scale(1);
  }

  @media screen and (max-width: $md) {
    height: 28px;
    padding: 12px 48px 52px;
    width: calc(100% - 96px);

    .brand-name {
      font-size: 18px;
    }

    button {
      padding: 0;
    }

    .search-container {
      position: absolute;

      width: calc(100% - 96px);
      bottom: 12px;

      .MuiFormControl-root, .MuiInputBase-root {
        width: 100%;
      }
    }
  }
}