.movie-screen {
  .sinopse {
    color: $color-white;
    font-size: 18px;

    margin: 36px 0;
  }

  table {
    height: 100%;
    margin-left: 24px;

    color: $color-white;
    font-size: 18px;

    th {
      text-align: left;
    }

    td {
      padding-left: 24px;
    }
  }
}