@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  background-color: lighten($color-dark, 20);
  animation: pulse 1.5s ease-in-out 0.5s infinite;
}