.poster-infos {
  flex-wrap: nowrap!important;

  .infos {
    height: 100%;
    margin-left: 24px;
      
    color: $color-white;
    font-size: 18px;
    
    th {
      text-align: left;
    }
    
    td {
      padding-left: 24px;
    }

    .loader {
      width: 150px;
      max-width: 100%;
      height: 24px;

      border-radius: 12px;
    }
    
    @media screen and (max-width: $md) {
      font-size: 16px;
      margin-left: 12px;
      
      td {
        padding-left: 12px;
      }
    }
  }
}

.poster-image img, .poster-image .image-container {
  width: 200px;
  height: 300px;

  @media screen and (max-width: $sm) {
    width: 115px;
    height: 175px;
  }
}