.banner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 550px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  .banner-infos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    left: 0;
    bottom: 0;
    width: calc(100% - 288px);
    height: calc(100% - 50px);
    padding: 50px 144px;

    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 50%, #121212 100%);

    h1 {
      font-size: 64px;
      font-weight: bold;
      color: $color-white;

      margin: 0;
    }

    .rating {
      display: flex;
      flex-direction: row;
      align-items: center;

      .MuiSvgIcon-root {
        width: 24px;
        height: 24px;
        
        fill: $color-white;
      }

      span {
        height: 24px;
      }

      .vote-count {
        margin-left: 4px;
        color: $color-white;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
      }
    }
  }
}

.banner-size {
  height: 550px;
}